@page "/buttontest"
@page "/buttons"
@using BlazorMealOrdering.Client.Utils

@inject IModalService _modalService

<h3>@title</h3>

<div class="form-group">
    <div class="container">
        <div class="btn-toolbar">

            <CustomEditButtonComponent OnClick="@ChangeTitle" Caption="Show Message" />
            <CustomEditButtonComponent OnClick="@ShowConfirmation" Caption="Edit Caption" Color="danger" Icon="pencil" IsSmall="false" />

            <AddNewButtonComponent IsOutline="true" />

        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    IModalService ModalService { get; set; }

    [Inject]
    ModalManager ModalManager { get; set; }

    private string title = "";
    private async void ChangeTitle()
    {
        await ModalManager.ShowMessageAsync("Show Message Title", "Record Deleted", 3000);
    }

    private async Task ShowConfirmation()
    {
        bool response = await ModalManager.ConfirmationAsync("Confirmations", "Are you sure that it will be deleted?");
        if (response) title = "Yes just clicked"; else title = "No just clicked";
    }
}
