@inherits BaseModelComponent

<div class="card-body">
    <p>@Message</p>
</div>

<div class="row justify-content-center">
    <div class="d-flex">
        <div class="m-lg-auto p-2">
            <button class="btn btn-light" @onclick="@ConfirmClicked">@OkText</button>
        </div>
    </div>
</div>

@code {
    // disardan gelen parametreleri bu component' in icine set eder.
    public override async Task SetParametersAsync(ParameterView parameters)
    {
        Message = parameters.GetValueOrDefault<string>("Message") ?? "No Message Found";
        OkText = "OK";
        await base.SetParametersAsync(parameters);
    }

}
